<a href="https://colab.research.google.com/github/ngzhankang/finalYearProjectUOB/blob/main/NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# FINAL YEAR PROJECT
Done by : 
- P1935000 Ang Yak Hng
- P1935000 Teo Swee Hong Winson
- P1935727 Ng Zhan Kang
- P1935488 Triston Loh
- P1935000 Ng Ao Yang

Class of DIT/FT/3A/05

---
---

# 1. Cloning Github To Colab Workspace

<div class="alert alert-block alert-danger">
    <b>ATTENTION:</b> The entire section 1 is dedicated to users who are using google colab to do the entire project. This entire process clones the private repository directly into the temporary google colab workspace. Google colab user are to repeat this same proccess whenever in a new session. Users who do not use colab to do this project CAN OMIT THE ENTIRE SECTION 1. 
</div>

### 1.1. Configurating SSH keys for GitHub and Colab connection

---

This entire section can be omitted if users are not using Google Colab at all.

In [1]:
!ssh-keygen -t rsa -b 4096

Generating public/private rsa key pair.
Enter file in which to save the key (/root/.ssh/id_rsa):
Created directory '/root/.ssh'.
Enter passphrase (empty for no passphrase):
Enter same passphrase again:
Your identification has been saved in /root/.ssh/id_rsa.
Your public key has been saved in /root/.ssh/id_rsa.pub.
The key fingerprint is:
SHA256:2VUjcEC3v8JSpA2x3mlopTGsr5BhEOIt2ZzX3ISkESQ root@38a3b0a22df2
The key's randomart image is:
+---[RSA 4096]----+
|  . E.+o.o*o+ o  |
| . * + =.+ = + . |
|  + * o o B =    |
|   . o   = & o   |
|      o S B * .  |
|     . o o +   . |
|      o   o o .  |
|       . . . .   |
|        .        |
+----[SHA256]-----+

<div class="alert alert-block alert-danger">
    <b>ATTENTION:</b> When prompted for a set of informations such as "Enter a file in which to save the key...", please press enter and DO NOT type in anything.
</div>

In [2]:
!ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts

# github.com:22 SSH-2.0-babeld-10d0a39d

In [3]:
!cat /root/.ssh/id_rsa.pub

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC/bAkIBnr8DrbObwCKtjq997JL2saQFeFH05hIKYp/8a2CqMHZbPBZtDb5oJ5OnKRNvSTUBfIRJvdhHJxIN8uiEXLoJiF4sh88Zx3gf2Nj/rYDGCeHILpHmVzuWY63EY6U4VO4qVH6kh9vtiQSYfj/8FKSna0QQcY8bDGX+onNXswmwEtjF+gsn7Y0UdCcZsljvDUKmPO3zVMQ2GBhm6867nsrOKqREnlMfZnYUPNmDFcUazlqKDcXarcF8h8yGvT9pPZzxGOVXUHr8Aq47rIh/TZI1EAOLQF4oa2jeazvJlpdaMCHHNYHADMaGCnuhTrVeN9oLvtVgJ+rc3eAfX704py905ath53sFIkugpVY2VxRaKWNjBNzYo4a0zlneMlVhxE5aki2I4Pw5cRxiFMc0/k/M2ZfSZUOngyvEAOAgNFsWhsC+KLooXJMPmYEr+ikHk5eJ9DEnZbdmOWGMOeDlABMnTHn9HujDFmrk41zxcl3LrqKygfiY6tChCTvNedrDam89LtmxjcK8ajr7d7nRah9baTxAvz1w2L4MUdMtScQ6XEL4m+VDyGRD4o6hKjpApx8TSGEsUd+jTAeQJ+LHGyRdZtxGiZZ71CEFtwfX6k5Sim8jn3QuoR23xEgx4HLES+P4ImtqGMF+7GM9rLOryyicuBao3+R3RaXj2MylQ== root@38a3b0a22df2

<div class="alert alert-block alert-danger">
    <b>ATTENTION:</b> After the key has been generated, please copy the entire key. Navigate to your Github Account > Profile Picture > Settings > SSH and GPG keys > New SSH Keys. Paste the generated key into the blank and lable it for your own convenience.
</div>

### 1.2. Testing SSH keys for GitHub and Colab connection

---

This entire section can be omitted if users are not using Google Colab at all.

In [4]:
!ssh -T git@github.com

Warning: Permanently added the RSA host key for IP address '140.82.114.3' to the list of known hosts.
Hi ngzhankang! You've successfully authenticated, but GitHub does not provide shell access.

### 1.3. Specify Git Configuration Settings

---

This entire section can be omitted if users are not using Google Colab at all. In this section, change email to your github email and username to your github username.

In [5]:
!git config --global user.email "zhankang.19@ichat.sp.edu.sg"
!git config --global user.name "ngzhankang"

### 1.4. Clone Private Repository

---

This entire section can be omitted if users are not using Google Colab at all.

In [6]:
!git clone git@github.com:ngzhankang/finalYearProjectUOB.git

Cloning into 'finalYearProjectUOB'...
Warning: Permanently added the RSA host key for IP address '140.82.113.4' to the list of known hosts.
remote: Enumerating objects: 19, done.
remote: Counting objects: 100% (19/19), done.
remote: Compressing objects: 100% (19/19), done.
remote: Total 19 (delta 5), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (19/19), 9.12 KiB | 9.12 MiB/s, done.
Resolving deltas: 100% (5/5), done.

---
---

  # 2. Data Importing

### 2.1. Load the libraries

---

Load the necessary libraries for usage in the entire project.

In [7]:
# suppress future warnings
import warnings
warnings.filterwarnings('ignore')

In [13]:
# install necessary libraries that might not be found
!pip install nltk

# check versions of libraries we are going to use
%tensorflow_version 2.x
import os
import tensorflow
import sklearn
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib
import nltk
import platform

message="        Versions        "
print("*"*len(message))
print(message)
print("*"*len(message))
print("Tensorflow version={}".format(tensorflow.__version__))
print("Keras version={}".format(tensorflow.keras.__version__))
print("Sklearn version={}".format(sklearn.__version__))
print("Numpy version={}".format(np.__version__))
print("Pandas version={}".format(pd.__version__))
print("Seaborn version={}".format(sns.__version__))
print("Matplotlib version={}".format(matplotlib.__version__))
print("NLTK version={}".format(nltk.__version__))
print("Python version={}".format(platform.python_version()))

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)
************************
        Versions
************************
Tensorflow version=2.4.1
Keras version=2.4.0
Sklearn version=0.22.2.post1
Numpy version=1.19.5
Pandas version=1.1.5
Seaborn version=0.11.1
Matplotlib version=3.2.2
NLTK version=3.2.5
Python version=3.7.10

### 2.2. Load the modules

---

Load the necessary modules for usage in the entire project.

In [14]:
# importing necessary modules for this project
import tensorflow as tf

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import string
import nltk

# we need these nltk modules to do data cleansing
nltk.download('punkt')
from nltk.tokenize import word_tokenize
nltk.download('stopwords')
from nltk.corpus import stopwords
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet') 
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

%matplotlib inline

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

### 2.3. Load the dataset

---

Load the dataset for usage in the entire project.

In [33]:
# use pandas to read the excel file and populate it in a pandas dataframe
companies = pd.read_excel('./Company_Dataset_Batch1.3_TRIAL.xlsx')

# see the top 10 companies that are populated in the dataframe
companies.head(10)

            Company_ID  ...                   Remarks
0  6659723700627433472  ...                       NaN
1  6856115970005237760  ...                       NaN
2  7369198031907269632  ...                       NaN
3  2902596962999106048  ...                       NaN
4  4869680436385200128  ...                       NaN
5  2833793606053527552  ...                       NaN
6   815115935851177472  ...                       NaN
7  7375353431500220416  ...                       NaN
8  5322820782371812352  ...                       NaN
9  1059731912908073216  ...  UNABLE TO LOCATE COMPANY

[10 rows x 11 columns]

---
---

  # 3. Exploratory Data Analysis

### 3.1. Get overview of dataset

---

Get statistical information of the dataset to understand the dataset better.

In [56]:
# get the total number of records in the dataframe
df_count = companies['Company_ID'].count()

# get count of unique contries where companies are based in
df_countCountry = companies['Country'].count()

# get count of unique sectors where companies are from
df_countCountry = companies['Country'].count()

# get count of unique sectors where companies are from

print('Total number of records:', df_totalRecords)

Total number of records: 400

In [64]:
# get total number of countries
df_totalCountries = companies['Country'].value_counts()

# get list of unique sector
df_sector = companies['Sector'].value_counts()

# get list of unique archetype
df_archetype = companies['Archetype'].value_counts()

# get list of unique valuechain
df_valuechain = companies['Valuechain'].value_counts()

print('List of unique countries:\n{}'.format(df_totalCountries))
print()
print('List of unique sector:\n{}'.format(df_sector))
print()
print('List of unique valuechain:\n{}'.format(df_valuechain))

List of unique countries:
SINGAPORE    172
MALAYSIA      89
THAILAND      72
CHINA         33
HONG KONG     20
INDONESIA     14
Name: Country, dtype: int64

List of unique sector:
CNI    164
TMT    121
OOS     33
ONG     32
REH     11
CG       9
IND      9
Name: Sector, dtype: int64

List of unique valuechain:
MIDSTREAM                 208
DOWNSTREAM                 93
UPSTREAM                   26
ACROSS VALUE CHAIN          5
UPSTREAM OR DOWNSTREAM      4
DISTRIBUTOR                 2
MANUFACTURER                2
Downstream                  1
Upstream                    1
TRADER                      1
Name: Valuechain, dtype: int64

In [65]:
# get list of unique subsector
df_subsector = companies['Subsector'].value_counts()

print('List of unique Subsector:\n{}'.format(df_subsector))

List of unique Subsector:
buildings & industrial               61
building material                    48
consumer electronics                 45
others                               33
it services                          29
cni_service providers                29
semiconductor                        19
o&g                                  14
digital_business                     12
utilities                            12
telecommunication                     9
petrochemical                         8
o&g_service providers/contractors     7
media                                 7
retail n distribution                 7
cni_equipment suppliers               6
infrastructure                        6
metals and mining                     5
commercial                            5
auto & mec                            4
mixed                                 3
ioc                                   2
residential                           2
building_material                     1
fmcg                                  1
cni_equipment_suppliers               1
agribusiness                          1
industrial                            1
noc                                   1
Name: Subsector, dtype: int64

In [62]:
print('List of unique archetype:\n{}'.format(df_archetype))

List of unique archetype:
buildings & industrial_contractor                              60
consumer electronics_distributor                               39
others                                                         33
building material_manufacturer                                 32
cni_service providers                                          29
it services                                                    29
building material_supplier_distributor                         14
digital_business                                               12
electronics components/semiconductor_component distributor     10
electronics components/semiconductor_component manufacturer     9
o&g_distributor                                                 8
utilities_developer                                             7
cni_equipment suppliers                                         6
content creator                                                 6
o&g_retail outlet                                               6
o&g midstream and downstream service provider                   5
consumer electronics                                            5
consumer discretionary distributor                              5
infrastructure_contractor                                       5
petrochemical_producer                                          4
petrochemical_distributor                                       4
commercial_operator                                             4
mixed_developer                                                 3
network equipment supplier                                      3
building material_distributor                                   3
telecommunication infrastructure                                3
utilities_operator                                              3
network operator                                                2
ioc                                                             2
mec oem dealer                                                  2
steel distributor                                               2
steel fabricator                                                2
o&g midstream service provider (transportation/storage)         2
utilities_contractor                                            2
auto component dealer                                           1
noc                                                             1
precious metal                                                  1
residential_integrated player                                   1
consuumer electronics                                           1
auto dealer                                                     1
modern trade                                                    1
infrastructure_operator                                         1
industrial_integrated player                                    1
media_aggregator/distributor                                    1
residential_developer                                           1
tisp â€“ fiber cable                                              1
cni_equipment_suppliers                                         1
hpc                                                             1
packaged food                                                   1
buildings & industrial_sub contractor                           1
palm oil                                                        1
commercial_developer                                            1
Name: Archetype, dtype: int64

### 3.2. Get graphical overview of dataset

---

Get visualised information of the dataset to understand the dataset better.

### 3.1. Get Nan values

---

Extract columns with Nan values and list them out here.

---
---

# 10.References


## Linking GitHub Private Repo with Google Colab
---
1. [How to clone private Github repo from Google Colab using SSH](https://medium.com/@purba0101/how-to-clone-private-github-repo-in-google-colab-using-ssh-77384cfef18f)
2. [Adding a new SSH key to your GitHub account](https://docs.github.com/en/github/authenticating-to-github/adding-a-new-ssh-key-to-your-github-account)


## How to classify text with NLTK
---
1. [Learning to Classify Text](https://www.nltk.org/book/ch06.html)